@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --color1: #062C80;
    --color2: #0E6AC7;
    --color3: #4FB9FC;
    --color4: #F6F5DA;

    --color5: #362FD9;
    --color6: #3C84AB;
    --color7: #85CDFD;
    --color8: #DEFCF9;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout{
    padding: 0.5rem 10%;
}

.fa-arrow-right-long{
    font-size: 50px;
}

.title-mark{
    font-weight: bold;
    border-bottom: 2px solid black;
}

a{
    color: black;
    text-decoration: none;
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.nav-bar{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.bottom-line::after{
    content: "";
    height: 3.5px;
    display: block;
    width: 100%;
    background-color: black;
}
img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
/* HEADER STYLE */
#header{
    background-color: white;
    height: 10vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.left{
    width: 30%;
    display: flex;
    align-items: center;
}

.right{
    width: 50%;
}


.logo-fullscreen{
    width: 80px;
}



#header .right .nav-bar{
    margin-top: 10px;
    margin-left: auto;
    width: 300px;
}

#header .right .nav-bar li > button.search-button{
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
}

/* HEADER STYLE END */

/* MENU-BAR STYLE */
#nav-bar-container .right .nav-bar li a{
    opacity: 0.6;
}

.title-fullscreen{
    color: purple;
}

#nav-bar-container{
    background-color: white;
    height: 8vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-bar-container .logo-fullscreen{
    visibility: hidden;
}
#nav-bar-container .right .nav-bar li{
    position: relative;
}
#nav-bar-container .right .nav-bar li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3.5px;
    display: block;
    transition: all 0.3s ease;
}
#nav-bar-container .right .nav-bar li:hover::after {
    width: 100%;
    height: 3.5px;
    background-color: black;
}
#nav-bar-container .right .nav-bar li:hover a{
    opacity: 1;
}
/* MENU-BAR STYLE END */

/* VIDEO STYLE*/

#video-container{
    width: 100%;
    height: 77vh;
    position: relative;
    overflow: hidden;
}

.fullscreen-bgvideo{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.fullscreen-title {
    text-shadow: 3px 3px #000;
    position: absolute;
    top: 50%;
    left: 10%;
    max-width: 50%;
    color: #fff;
    font-size: 40px;
    width: 500px;
}

.arrow{
    position: absolute;
    bottom: 3%;
    left: 17%;
    rotate: 90deg;
    cursor: pointer;
}

.arrow span{
    display: block;
    margin: -10px;
    transform: rotate(-90deg);
    animation: animate 2s infinite;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px #000;
}

.arrow span:nth-child(2){
    animation-delay: 0.2s;  
}

.arrow span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(-90deg) translate(-20px, 0px);
    }
    50%{
        opacity: 1;
    }
    100%{
       opacity: 0;
        transform: rotate(-90deg) translate(20px, 0px);
    }
}
/* VIDEO STYLE END*/

#news-search{
    margin: 20px 10%;
}
#news-search > div{
    margin: 20px 0;
    padding: 15px;
    width: 550px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #414141;
    font-family: sans-serif;
    letter-spacing: 1px ;
}

#news-search > :first-child{
    background-color: var(--color7);
}

#news-search > :last-child{
    background-color: var(--color4);
}

/* NEWS AND EVENTS STYLE */

#news-and-events{
    display: flex;
    margin: 20px 10%;
 
}
.title-line{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.title-line > a{
    color: blue;
    font-size: 0.8rem;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid rgb(248, 235, 235);
}
.event-description,
.new-description{
    width: 250px;
}
.new,
.event{
    padding: 10px;
    margin-bottom: 10px;
}
/* news */
#news-container{
    width: 75%;
}
.news{
    display: flex;
}
.new-image{
    width: 100%;
    height: 200px;
}
.new-description .new-title{
    font-size: 17px;
    font-weight: bold;
}
.time{
    font-size: 0.7rem;
    opacity: 0.5;
    margin-top: 10px;
}
/* news end */

/* events */
#events-container{
    width: 25%;
}
.event{
    display: flex;
}
.event .event-time{
    background-color: rgb(38, 38, 169);
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
}
.event .event-time > span{
    font-size: 0.8rem;
}
.event-description .event-title{
    font-weight: bold;
}
.event-description .event-location{
    opacity: 0.8;
    font-size: 0.8rem;
    margin-top: 10px;
}

/* events end */

/* NEWS AND EVENTS STYLE END*/

/* BOOKS STYLE */
#books-and-more{
    position: relative;
    margin: 20px 10%;
}

.direction{
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
}

.direction button{
    font-family: cursive;
    font-weight: bold;
    background-color: var(--color8);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0 10px;
    cursor: pointer;
}
.direction #prev{
    position: absolute;
    left: -20px;
}
.direction #next{
    position: absolute;
    right: -20px;
}

.direction button:hover{
    background-color: var(--color6)
}

#formList{
    width: 1200px;
    max-width: 100%;
    overflow: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}

#formList::-webkit-scrollbar{
    display: none!important;
}

#list{
    display: flex;
    width: max-content;
}

.item{
    width: 240px;
    height: 450px;
    overflow: hidden;
    transition: 0.5s;
    scroll-snap-align: start;
}

.item .avatar{
    display: block;
    margin: 30px auto 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0px 0px 15px #7e878d;
    transition: 0.5s;
    cursor: pointer;
   
}

.item .avatar:hover{
    transform: scale(1.1);
    translate: 10px -10px;
    box-shadow: -8px 8px 10px #7e878d;
}
.item .content{
    padding: 0 30px;
    font-family: monospace;
}

.item .content > div > p{
    padding: 10px 0;
    border-bottom: 1px solid #AEC0CE;
}
.item .nameAuthor{
    text-align: center;
    border-bottom: none!important;
}

#list:hover .item:not(:hover){
    filter: blur(2px);
}

/* BOOKS STYLE END */

/* FOOTER STYLE */

footer{
    width: 100%;
    background: linear-gradient(to right, #00093C, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 20%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul.linkList li{
    list-style: none;
    margin-bottom: 12px;
}
ul.linkList li a{
    text-decoration: none;
    color:#fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa-envelope{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
}
form button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
form button .fa-arrow-right{
    font-size: 16px;
    color: #ccc;
}
.social-icons i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background-color: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
/* FOOTER STYLE END */

/* RESPONSIVE STYLE */
@media screen and (max-width: 1024px){
    .layout{
        padding: 0px 2%;
    }
    /* header responsive */
    
    /* header responsive end */

    /* menubar responsive */
    #menu-bar-container .logo-fullscreen img{
        margin-top: 20px;
    }
   
    .menu-bar{
        display: block;
    }
    .main-menu{
        display: none;
    }
    .title{
        width: 100%;
    }
    /* menubar responsive end */

    /* video responsive */
    #video-container{
        height: 68vh;

    }
    /* video responsive*/
    
    /* book responsive */
    #books-and-more .title-mark{
        margin-left: 5%;
    }
    .item{
        width: 26.5vw;
    }
    .direction{
        display: none;
    }
    /* book responsive end*/

    /* footer responsive */
    .social-icons i{
        margin-bottom: 10px;
    }
    /* footer responsive end*/
}

@media screen and (max-width: 768px) {
     /* header responsive */
        #header{
            display: none;
        }
    /* header responsive end */
    /* menubar responsive */
    #menu-bar-container .logo-fullscreen img{
        display: block;
        margin-top: 10px;
    }
    .title > h2{
       font-size: 1.25rem;
    }
    .menu-bar{
        display: block;
    }
    /* menubar responsive end */
    
    /* book responsive */
    .item{
        width: 50vw;
    }

    .item .avatar{
        box-shadow: none;
        transform: scale(0.8);
    }

    .item .avatar:hover{
        transform: scale(1);
        translate: 0px 0px;
        box-shadow: 0px 0px 15px #7e878d;
    }
    .direction{
        display: none;
    }
    /* book responsive end*/

    /* footer responsive */
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
    /* footer responsive end*/
}
/* RESPONSIVE STYLE END */