
/*arrivals*/

.arrivals{
    width: 100%;
    margin-bottom: 35px;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    color: var(--secondary-color);

}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 240px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: queen of camelot;
    font-size: 20px;
    margin: 8px 0;
    color: var(--secondary-color);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: #089da1;
    margin-bottom: 18px;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: var(--secondary-color);
}




/*reviews*/

.reviews{
    width: 100%;
}

.reviews h1{
    text-align: center;
    font-size: 50px;
    margin-top: 55px;
    color: var(--secondary-color);
}

.reviews .review_box{
    width: 95%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}

.reviews .review_box .review_card{
    width: 400px;
    height: 320px;
    box-shadow: 0 0 8px #089da1;
    padding: 15px;
    margin: 0 12px;
}

.reviews .review_box .review_card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}

.reviews .review_box .review_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.reviews .review_box .review_card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;
}

.reviews .review_box .review_card .card .review_icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: #089da1;
    padding: 0 1px;
}

@media screen and (max-width: 1024px){
    .arrivals .arrivals_box{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 25px 0;
    }
    .arrivals .arrivals_box .arrivals_card{
        margin: 0;
    }
    .reviews .review_box{
        margin: 0 auto;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    
    .reviews .review_box .review_card{
        width: 95%;
        height: 250px;
        margin: 12px 0;
    }
}

@media screen and (max-width: 768px){
    .arrivals{
        margin-top: 100px;
    }
    .arrivals .arrivals_box .arrivals_card{
        margin: 0 auto;
        width: 180px;
        height: 340px;
    }
    .arrivals .arrivals_box{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 0;
    }
    .reviews .review_box .review_card{
        height: 280px;
    }
}