*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.hero{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#6ac1c5,#bda5ff);
    display: block;
    left: 0;
    top: 0;
    margin-top: 52px;
    position: relative;
}
#nav-bar-container{
   position:fixed !important;
}
tr.calendar-body .calendar-day .day {
    border-radius: 5%;
}