@media screen and (max-width: 1024px){
    .title-line{
        padding-left: 0px;
        margin-bottom: 20px;
    }
    /* header responsive */
    #header{
        height: 7vh;
    }
    #nav-bar-container{
        height: 6vh;
        box-shadow: none
    }
    /* header responsive end */

    /* menubar responsive */
   
    #nav-bar-container .left{
        width: 50%;
    }
    #nav-bar-container .right{
        width: 30%
    }
    #nav-bar-container .right .nav-bar{
        justify-content: flex-end;
    }
    #nav-bar-container .right .nav-bar li:not(:last-child){
        display: none;
    }

    /* menubar responsive end */

    /* sidebar responsive */
    #sidebar{
        width: 350px;
        animation: responsive-sidebar-ani .5s;
    }
    @keyframes responsive-sidebar-ani {
        0%{
            width: 0px;
        }
        100%{
            width: 350px;
        }
    }
    /* sidebar responsive end */

    /* video responsive */
    #video-container{
        height: 68vh;
    }
    .arrow{
        bottom: 5%;
        left: 22%;
    }
    /* video responsive*/

    /* news and event responsive */
    #news-and-events{
        flex-direction: column;
    }
    .news{
        flex-direction: column;
    }
    .new{
        display: flex;
        width: 600px;
        padding: 5px;
    }
    .new-image{
        width: 200%;
        height: 300px;
    }
    .event-description,
    .new-description{
        width: 100%;
    }
    .events{
        display: flex;

    }
    .event:not(:first-child){
        margin-left: 30px;
    }
    /* news and event responsive end*/

    /* education explore responsive */
    .edu-text-container  div:nth-child(2){
        font-size: 0.8rem;
    }
    .edu-text-container  .explore-button{
        margin-top: 10px;
    }
    /* education explore responsive end */
    
    /* book responsive */
    .item{
        width: 26.5vw;
    }
    .direction{
        display: none;
    }
    /* book responsive end*/

    /* footer responsive */
    .social-icons i{
        margin-bottom: 10px;
    }
    /* footer responsive end*/
    /* search */
    #search-container{
        height: 7vh;
    }
    #search-container > h2{
        display: none;
    }
    #search-container .logo-fullscreen{
        margin-right: 20px;
    }

    #search-container > input{
        width: 550px;
    }
}