@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --default-color: #fff;
    --gradient-color-start:#CACFF9;
    --gradient-color-end: #F5CBD9;
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
    --gradient-color-start: #243748;
    --gradient-color-end: #4B749F;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
    background-color: var(--primary-color);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 888;
}
.nav-bar{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-bar button{
    cursor: pointer;
}
img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.hidden-vision{
    visibility: hidden;
}
.show{
    display: block!important;
}
/* HEADER STYLE */
#header{
    background-color: var(--primary-color);
    height: 10vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 888;
}
.left{
    width: 30%;
    display: flex;
    align-items: center;
}
.right{
    width: 50%;
}
.logo-fullscreen{
    width: 80px;
}
#header .right .nav-bar{
    margin-top: 10px;
    margin-left: auto;
    width: 300px;
    align-items: center;
}
#header .right .nav-bar li > button.search-button{
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1rem;
}

#dark-mode-icon{
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary-color);
}

/* HEADER STYLE END */

/* MENU-BAR STYLE */
.title-fullscreen{
    color: var(--secondary-color);
}

#nav-bar-container{
    background-color: var(--primary-color);
    height: 9vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -3px 10px var(--secondary-color);
}
#nav-bar-container .right .nav-bar{
    align-items: center;
}
#nav-bar-container .right .nav-bar li{
    position: relative;
   
}
#nav-bar-container .right .nav-bar li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3.5px;
    display: block;
    transition: all 0.3s ease;
}
#nav-bar-container .right .nav-bar li:not(:last-child):hover:after {
    width: 100%;
    height: 3.5px;
    background-color: var(--secondary-color);
}
#nav-bar-container .right .nav-bar li a{
    opacity: 0.7;
}
#nav-bar-container .right .nav-bar li:hover a{
    opacity: 1;
}
#nav-bar-container .right #sidebar-button{
    width: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-color);
}

/* sidebar style */
#sidebar{
    position: fixed;
    z-index: 999;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: var(--gradient-color-end);
    display: none;
    animation: sidebar-ani .5s;
}
@keyframes sidebar-ani {
    0%{
        width: 0px;
    }
    100%{
        width: 350px;
    }
}

#sidebar .nav-bar{
    width: 220px;
    align-items: center;
    margin: 10px 10px;
}
#sidebar .nav-bar li button{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: var(--secondary-color);
}
#sidebar .nav-bar li i{
    font-size: 0.8rem;
} 
#sidebar .main-nav-bar{
    flex-direction: column;
    margin-top: 10px;
}
#sidebar .main-nav-bar a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    color: var(--secondary-color);
    padding-left: 20px;
    box-sizing: border-box;
    transition: .4s;
}
#sidebar .main-nav-bar li:hover a{
    padding-left: 30px;
    background-color: var(--gradient-color-start);
}
#sidebar .main-nav-bar a i{
    margin-right: 16px;
}
/* sidebar style end */

/* MENU-BAR STYLE END */

/* VIDEO STYLE*/

#video-container{
    width: 100%;
    height: 77vh;
    position: relative;
    overflow: hidden;
}

.fullscreen-bgvideo{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.fullscreen-title {
    text-shadow: 3px 3px var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 10%;
    max-width: 50%;
    color: var(--primary-color);
    font-size: 40px;
    width: 500px;
}

.arrow{
    position: absolute;
    bottom: 3%;
    left: 17%;
    rotate: 90deg;
    cursor: pointer;
}

.arrow span{
    display: block;
    margin: -10px;
    transform: rotate(-90deg);
    animation: animate 2s infinite;
    font-size: 80px;
    font-weight: bold;
    color: var(--primary-color);
    text-shadow: 3px 3px var(--secondary-color);
}

.arrow span:nth-child(2){
    animation-delay: 0.2s;  
}

.arrow span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(-90deg) translate(-20px, 0px);
    }
    50%{
        opacity: 1;
    }
    100%{
       opacity: 0;
        transform: rotate(-90deg) translate(20px, 0px);
    }
}
/* VIDEO STYLE END*/

/* NEWS AND EVENTS STYLE */

#news-and-events{
    display: flex;
    margin: 50px 10%;
    color: var(--secondary-color);
 
}
.title-line{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.title-line > a{
    color: blue;
    font-size: 0.8rem;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid var(--secondary-color);
}
.event-description,
.new-description{
    width: 250px;
}
.new,
.event{
    padding: 10px;
    margin-bottom: 10px;
}
/* news */
#news-container{
    width: 75%;
}
.news{
    display: flex;
}
.new-image{
    width: 100%;
    height: 200px;
}
.new-description .new-title{
    font-size: 17px;
    font-weight: bold;
}
.time{
    font-size: 0.7rem;
    opacity: 0.5;
    margin-top: 10px;
}
/* news end */

/* events */
#events-container{
    width: 25%;
}
.event{
    display: flex;
}
.event .event-time{
    background-color: rgb(38, 38, 169);
    width: 40px;
    height: 40px;
    color: var(--default-color);
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
}
.event .event-time > span{
    font-size: 0.8rem;
}
.event-description .event-title{
    font-weight: bold;
}
.event-description .event-location{
    opacity: 0.8;
    font-size: 0.8rem;
    margin-top: 10px;
}

/* events end */

/* NEWS AND EVENTS STYLE END*/

/* EDUCATION STYLE */
#edu-container{
    margin: 50px 10%;
    position: relative;
}
#edu-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(/images/education_bg.png);
    filter: brightness(0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#edu-container .edu-text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--default-color);
    width: 40%;
    height: 200px;
    margin: 0px auto;
    padding: 20px;
}
.edu-text-container .title-line{
    text-align: center;
}
.edu-text-container  div:nth-child(2){
    text-align: center;
}
.edu-text-container  .explore-button{
    background-color: var(--primary-color);
    border-radius: 5px ;
    padding: 2px 10px;
    transition: 0.5s;
}
.edu-text-container  .explore-button > a{
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
}
.edu-text-container  .explore-button:hover{
    background-color: grey;
}
.edu-text-container  .explore-button:hover > a{
    color: var(--primary-color);
}

/* EDUCATION STYLE END */

/* BOOKS STYLE */
#books-and-more{
    position: relative;
    margin: 50px 10%;
}

.direction{
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
}

.direction button{
    font-family: cursive;
    font-weight: bold;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0 10px;
    cursor: pointer;
}
.direction #prev{
    background-color: var(--gradient-color-start);
    position: absolute;
    left: -25px;
    transition: 0.5s;
}
.direction #prev:hover{
    background-color: var(--gradient-color-end);
}
.direction #next{
    background-color: var(--gradient-color-end);
    position: absolute;
    right: -25px;
    transition: 0.5s;
}
.direction #next:hover{
    background-color: var(--gradient-color-start);
}

.direction button:hover{
    background-color: var(--color6)
}

#formList{
    width: 1200px;
    max-width: 100%;
    overflow: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}

#formList::-webkit-scrollbar{
    display: none!important;
}

#list{
    display: flex;
    width: max-content;
}

.item{
    width: 240px;
    height: 450px;
    overflow: hidden;
    transition: 0.5s;
    scroll-snap-align: start;
}

.item .avatar{
    display: block;
    margin: 30px auto 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0px 0px 15px #7e878d;
    transition: 0.5s;
    cursor: pointer;
   
}

.item .avatar:hover{
    transform: scale(1.1);
    translate: 10px -10px;
    box-shadow: -8px 8px 10px #7e878d;
}
.item .content{
    padding: 0 30px;
    font-family: monospace;
    color: var(--secondary-color);
}

.item .content > div > p{
    padding: 10px 0;
    border-bottom: 1px solid #AEC0CE;
}
.item .nameAuthor{
    text-align: center;
    border-bottom: none!important;
}

#list:hover .item:not(:hover){
    filter: blur(1.5px);
}

/* BOOKS STYLE END */

/* FOOTER STYLE */

footer{
    width: 100%;
    background: linear-gradient(to right, var(--gradient-color-start) , var(--gradient-color-end));
    color: var(--secondary-color);
    padding: 20px 0 10px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 20%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul.linkList li{
    list-style: none;
    margin-bottom: 12px;
}
ul.linkList li a{
    text-decoration: none;
    color:var(--secondary-color);
}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.col form .fa-envelope{
    font-size: 18px;
    margin-right: 10px;
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
}
.col form button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.col form button .fa-arrow-right{
    font-size: 16px;
    color: #ccc;
}
.social-icons i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background-color: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background-color: var(--default-color);
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
/* FOOTER STYLE END */

/* RESPONSIVE STYLE */


@media screen and (max-width: 768px) {
     /* header responsive */
        #header{
            display: none;
        }
    /* header responsive end */
    /* menubar responsive */
    #menu-bar-container .logo-fullscreen img{
        display: block;
        margin-top: 10px;
    }
    .title > h2{
       font-size: 1.25rem;
    }
    .menu-bar{
        display: block;
    }
    /* menubar responsive end */
    
    /* book responsive */
    .item{
        width: 50vw;
    }

    .item .avatar{
        box-shadow: none;
        transform: scale(0.8);
    }

    .item .avatar:hover{
        transform: scale(1);
        translate: 0px 0px;
        box-shadow: 0px 0px 15px #7e878d;
    }
    .direction{
        display: none;
    }
    /* book responsive end*/

    /* footer responsive */
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
    /* footer responsive end*/
}
/* RESPONSIVE STYLE END */